<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Bone Age Assessment</title>
    <link href={% static "bootstrap/css/bootstrap.min.css" %}  rel="stylesheet" media="screen">
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <link href={% static "css/fileinput.css" %} rel="stylesheet">
    <script src={% static "js/fileinput.js" %}></script>
</head>
<body>
    <h1 align="center"> Bone Age Assessment </h1>
    <label class="control-label">Select File</label>
    <input id="input-1" type="file" class="file">
</body>
</html>